/* table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
} */


.code {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    white-space: pre;
    word-wrap: normal;   
}